<main>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="page-title">Cards</h1>
      <p class="page-description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, quasi.
      </p>
    </div>
  </div>
  <hr>
  <div class="card-wrapper">
    <div class="card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</main>
