<main>
  <h1 class="page-title">Homepage</h1>
  <p class="page-description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium numquam nobis repudiandae sapiente sint repellendus deserunt non rerum, impedit nisi itaque illo cupiditate recusandae fuga at temporibus aliquam debitis porro doloremque aspernatur unde velit ad laboriosam distinctio! Ipsum commodi error quidem perspiciatis in deleniti. Odit iure reprehenderit officia esse repudiandae provident. Sint cupiditate ab labore quidem! Provident, odit porro sint facilis delectus odio laborum autem minus laudantium aut exercitationem quam excepturi suscipit cupiditate eaque laboriosam earum neque accusamus molestiae expedita, rerum ea. Odit, voluptatibus explicabo? Ipsam inventore praesentium non obcaecati cumque iusto quibusdam ex esse accusantium incidunt? In, quas temporibus!
  </p>
</main>
